footer {
  background-color: #fff;
  text-align: center;
}

footer div h2 {
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 1px;
  margin-bottom: 15px;
  padding: 40px 0 10px 0;
}

footer div a.button {
  background-color: #333;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 800;
  letter-spacing: 0.1px;
  margin: 10px 0;
  max-width: 751px;
  padding: 25px 30px;
  text-decoration: none;
  width: 80%;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

footer div a.button:hover {
  background-color: black;
}

div.copy {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.copy p.cv a {
  border: solid 1px #131313;
  color: #131313;
  padding: 5px;
  text-decoration: none;
  -webkit-transition: color 1s ease,
              border 1s ease;
  transition: color 1s ease,
              border 1s ease;
}

div.copy p.cv a:hover {
  border-color: #d9a6af;
  color: #d9a6af;
}

div.copy .github {
  -webkit-transition: fill 1s ease;
  transition: fill 1s ease;
}

div.copy .github:hover {
  fill: #e91e63;
}

.copy p {
  margin: 0;
  padding: 33px 10px 20px 10px;
}
